
*.exe
*.out
*.app
*.o
*.obj
*.so
*.dylib
*.a
*.dll

library
library.exe

*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
library.db

.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json


.vs/
*.user
*.suo
*.sln.docstates


.idea/
cmake-build-*/

#System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini


build/
bin/
lib/